
@font-face{
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat-Bold.ttf');
}

@font-face{
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat-Regular.ttf');
}
@font-face{
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat-Light.ttf');
}
html{
    scroll-behavior: smooth;
}
img{
max-width:100%;
}
body
{
    padding: 0;
    margin: 0;
    width: 100%;
    overflow-x: hidden;
    background-color: #c3cfe3;

}


/*NAVBAR*/
.navbar .navbar-brand{
    color: #074fa6;
    font-size: 30px;
    font-family: 'Montserrat-Bold';
}
.navbar .navbar-nav{
   margin-left: 160px;
}
.navbar .navbar-nav .nav-link{
    color: black;
    font-size: 18px;
    margin-right: 10px;
    padding: 12px;
    transition: .3s;


}
.navbar .navbar-nav .nav-link:hover{
    color: white;
    background-color: skyblue;

}
.active {
   color: #fff!important;
   background-color: skyblue;
}


/*SLIDER*/
.carousel-caption {
    bottom: 600px;
}
.carousel-inner {
    height: 500px;
}
.carousel-item h1{
    font-size: 50px;
}